@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logo-change:hover {
  .main-part {
    background-color: white;
    color: black;
  }
  .sub-part{
    background-color: black;
    color: white;
  }
} */
